.grid_wrap {
    display: flex;
    flex-direction: row;
}

.transport {
    display: flex;
    flex-direction: row;
}

.scrubber {
    flex-grow: 1;
    max-width: 400px;
    margin: 0 24px;
}

.scrubber_labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
