* {
    box-sizing: border-box;
    position: relative;
}

html {
    font-family: "Helvetica", sans-serif;
    color: #222;
    background-color: #fefcfc;
}

a {
    text-decoration: none;
    color: inherit;
}

p a {
    text-decoration: underline;
    color: blue;
}

[type="button"] {
    cursor: pointer;
}

[type="range"] {
    display: block;
    height: 48px;
    font-size: 32px;
    width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
    height: 48px;
    width: 48px;
}

textarea {
    display: block;
}

label {
    display: block;
}

button {
    -webkit-appearance: none;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    font-size: 28px;
}
